{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}VozUrbana{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <style>
        body {
            position: relative;
            min-height: 100vh;
            margin: 0;
          }
        
          body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/66C6/production/_120501362_1.jpg.webp');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            opacity: 0.4; /* Controla qué tan opaco es */
            z-index: -1; /* Envía el fondo detrás del contenido */
          }
      </style>
      
</head>
<body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="https://uees.edu.ec/">UEES</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Voz Urbana</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'mapa_incidentes' %}">Mapa de Incidentes</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Informacion</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="{% url 'index' %}#como-funciona">Como Funciona</a></li>
                                <li><a class="dropdown-item" href="{% url 'index' %}#impacto-comunitario">Impacto Comunitario</a></li>
                                <li><a class="dropdown-item" href="{% url 'index' %}#guayaquil-habla">Guayaquil Habla</a></li>
                                <li><a class="dropdown-item" href="{% url 'index' %}#nuestro-equipo">Nuestro Equipo</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contactanos</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Opciones</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="{% url 'mis_incidentes' %}">Mis Casos</a></li>
                                <li>
                                    <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                        Cerrar sesión
                                    </a>
                                    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                                        {% csrf_token %}
                                    </form>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block full_width %}
            <div class="container mt-4">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </main>
    <footer class="bg-dark text-white py-4">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0">Copyright &copy; Voz Urbana</div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="{% url 'politica_privacidad' %}">Politica de Privacidad</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="{% url 'terminos_condiciones' %}">Terminos y Condiciones</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="{% url 'contacto' %}">Contactanos</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>    
</body>
</html>
