{% extends 'app/base.html' %}
{% block content %}
<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
              <i class="bi bi-envelope fs-1"></i>
            </div>
            <h4 class="fw-bold">Contactanos</h4>
          </div>
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-floating mb-3">
                  {{ form.nombres }}
                  <label for="{{ form.nombres.id_for_label }}">Nombres</label>
                  {% if form.nombres.errors %}
                    <div class="text-danger small">{{ form.nombres.errors.0 }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-floating mb-3">
                  {{ form.apellidos }}
                  <label for="{{ form.apellidos.id_for_label }}">Apellidos</label>
                  {% if form.apellidos.errors %}
                    <div class="text-danger small">{{ form.apellidos.errors.0 }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              {{ form.correo }}
              <label for="{{ form.correo.id_for_label }}">correo</label>
              {% if form.correo.errors %}
                <div class="text-danger small">{{ form.correo.errors.0 }}</div>
              {% endif %}
            </div>
            <div class="form-floating mb-3">
              {{ form.comentario }}
              <label for="{{ form.comentario.id_for_label }}">Comentario</label>
              {% if form.comentario.errors %}
                <div class="text-danger small">{{ form.comentario.errors.0 }}</div>
              {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
